.mnt-light-normal {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300 !important;
    font-style: normal;
}

.mnt-regular-normal {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
    font-style: normal;
}

.mnt-medium-normal {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
    font-style: normal;
}

.mnt-semi-bold-normal {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    font-style: normal;
}

.mnt-bold-normal {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700 !important;
    font-style: normal;
}

.white-10pt {
  color: rgba(255, 255, 255, 1) !important;
  font-size: 10pt !important;
}

.white-40p {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 40px !important;
}

.white-34p {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 34px !important;
}

.white-26p {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 26px !important;
}

.white-24p {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 24px !important;
}

.white-22p {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 22px !important;
}

.white-20p {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 20px !important;
}

.white-14p{
    color: rgba(255, 255, 255, 1) !important;
    font-size: 14px !important;
}

.white-16p{
    color: rgba(255, 255, 255, 1) !important;
    font-size: 16px !important;
}

.white-18p{
    color: rgba(255, 255, 255, 1) !important;
    font-size: 18px !important;
}

.gray-14p{
    color: rgba(153, 155, 170, 1) !important;
    font-size: 14px !important;
}

.gray-16p{
    color: rgba(153, 155, 170, 1) !important;
    font-size: 16px !important;
}

.blue-12p{
    color: rgba(34, 149, 225, 1) !important;
    font-size: 12px !important;
}

.blue-14p{
    color: rgba(34, 149, 225, 1) !important;
    font-size: 14px !important;
}

.blue-16p{
    color: rgba(34, 149, 225, 1) !important;
    font-size: 16px !important;
}

.red-16p {
  color: rgb(255, 0, 0) !important;
  font-size: 16px !important;
  padding-left: 10px;
  margin-top: 40px;
  height:0px;
}

.uppercase{
    text-transform:uppercase;
}
