<template>
  <ai-dialog>
    <ai-dialog-header>
      <span class="mnt-medium-normal white-24p">Change password</span>
      <div class="close-icon" click.delegate="cancel()">
        <img alt="close" src="/assets/img/dialog-close.png" />
      </div>
    </ai-dialog-header>
    <ai-dialog-body>
      <style>
        ai-dialog {
          width: 425px;
        }
      </style>
      <require from='./../../../css/sltrk-modal.css'></require>
      <form class="form-horizontal" role="form">
        <fieldset>
          <div class="col-md-12">
            <div class="form-group">
              <label for="oldPassword" class="control-label ai-dialog-label">Old password</label>
              <div>
                <input type="password" class="form-control ai-dialog-input" name="oldPassword" id="oldPassword" value.bind="_m.oldPassword & validate" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label for="newPassword" class="control-label ai-dialog-label">New password</label>
              <div>
                <input type="password" class="form-control ai-dialog-input" name="newPassword" id="newPassword" value.bind="_m.newPassword & validate" placeholder="">
              </div>
            </div>

            <div class="form-group">
              <label for="confirmPassword" class="control-label ai-dialog-label">Confirm new password</label>
              <div>
                <input type="password" class="form-control ai-dialog-input" name="confirmPassword" id="confirmPassword" value.bind="_m.confirmPassword & validate" placeholder="">
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </ai-dialog-body>
    <ai-dialog-footer>
      <button class="save-btn" click.delegate="save()">Save</button>
    </ai-dialog-footer>
  </ai-dialog>
</template>
