.building-part{
  width: 70%;
  height:auto;
}


/*.pagination > li > a, .pagination > li > span {
  color: white !important;
  background-color: #364b68 !important;
  border: 1px solid #5b7dab !important;
}*/


.pagination {
  display: inline !important; 
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px
}

  .page-item {
    display: inline
  }

.pagination > li > div {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: white !important;
  text-decoration: none;
}
